.container-fluid
  .row
    .col-sm-3.col-md-2.sidebar
      ul.nav.nav-sidebar
        li.Users-menu
          a(href='#admin/users') Users
        li.Usage-menu
          a(href='#admin/usage') Usage
        li.Kegs-menu
          a(href='#admin/kegs') Kegs
        li.LCD-menu
          a(href='#admin/lcd') LCD
        li.USB-menu
          a(href='#admin/usb') USB
        li.Service-menu
          a(href='#admin/service') Service
        li.Configs-menu
          a(href='#admin/configs') Configs
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
