.container-fluid
  .row
    .col-sm-3.col-md-2.sidebar
      ul.nav.nav-sidebar
        li.Status-menu
          a(href='#status') Temp
        li.Usage-menu
          a(href='#usage') Usage
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      h1.page-header Dashboard
      h2.sub-header Section title
