h2 LCD Control
form
  .form-group
    label(for='lcd_line1') Line 1
    input#lcd_line1.form-control(type='text', placeholder='mmmm....', data-line="1")
    button.btn-primary.send Send

  .form-group
    label(for='keg_beer') Line 2
    input#lcd_line2.form-control(type='text', placeholder='Beer!', data-line="2")
    button.btn-primary.send Send
